<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Sanity">
    <listeners>
        <!--   <listener class-name="biz.promanage.listeners.TestListener"/>-->
         <listener class-name="biz.promanage.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="Chrome">
        <parameter name="browser" value="CHROME"/>
        <classes>
            <class name="biz.promanage.tests.LeadPageTest"/>
            <class name="biz.promanage.tests.UserLoginTest"/>
            <class name="biz.promanage.tests.GlobalFilterTest"/>
           <class name="biz.promanage.tests.QuestionAnswerTest"/>
           <class name="biz.promanage.tests.LeaderBoardPageTest"/>
           <class name="biz.promanage.tests.ContactPageTest"/>
            <class name="biz.promanage.tests.CustomGroupTest"/>
        
        </classes>
    </test>
</suite>

